.curtain .btn[data-role='curtain'] img {max-width:100%;height:auto;}
.curtain .flex4-row.irm-curtain {padding: 5px}
.btn-big-text {font: 400 20px/20px 'Open Sans', arial, sans-serif;color:#555;}
.curtain .irm-btn-curtain[data-role='curtain'] {padding:30px 0 0 0;}
.curtain .btn[data-role='curtain'] span {margin: 0 8px 0;}
.irm-btn-curtain, .irm-btn-curtain-close, .irm-btn-curtain-open {width:150px;height:80px;}