.hide {display: none; }

.w450 {min-width:450px;border-bottom:#aaa 1px inset}
.w100 {width:100%;border:#aaa 1px solid}
.l_c_off  {color:#aaa}
.l_c_on   {color:#66ff66}
.l.r      {text-align:right}