
@font-face {
    font-family: 'latoblack';
    src: url('Lato-Black-webfont.eot');
    src: url('Lato-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Black-webfont.woff2') format('woff2'),
         url('Lato-Black-webfont.woff') format('woff'),
         url('Lato-Black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latobold';
    src: url('Lato-Bold-webfont.eot');
    src: url('Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Bold-webfont.woff2') format('woff2'),
         url('Lato-Bold-webfont.woff') format('woff'),
         url('Lato-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight';
    src: url('Lato-Light-webfont.eot');
    src: url('Lato-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Light-webfont.woff2') format('woff2'),
         url('Lato-Light-webfont.woff') format('woff'),
         url('Lato-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latomedium';
    src: url('Lato-Medium-webfont.eot');
    src: url('Lato-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Medium-webfont.woff2') format('woff2'),
         url('Lato-Medium-webfont.woff') format('woff'),
         url('Lato-Medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}