.hide {visibility:hidden;}

.w450 {width:480px;border-bottom:#aaa 1px inset;margin:auto;font-size:14px;}
.w100 {width:100%;border:#aaa 1px solid}
.l_c_off  {color:#aaa}
.l_c_on   {color:#66ff66}
.l.r      {text-align:right}


.teatime-adjust-button {
	width: 60px;
	height: 30px;
	font-size: 15px;
}

.teatime-time {
	width: 60px;
	height: 30px;
	font-size: 20px;
	color: #000000;
	text-align: center;
}

.teatime-semicolon {
	font-size: 36px;
}

.teatime-label {
	font-family:Georgia;
	font-size: 26px;
}

.teatime-menu {
	font-family:Georgia;
	font-size: 16px;
}

.teatime-quantity {
	width: 30px;
	height: 30px;
	font-size: 20px;
	text-align: center;
}

.teatime-submit-button{
	width: 200px;
	height: 60px;
}