#w_info, .w_info {padding:0; margin:auto; color:#000;width:95%; display:inline-block;white-space:nowrap;text-align:left;}
#w_info h1, .w_info h1 {padding:0; margin:0; font:700 40px/40px 'Open Sans', arial, sans-serif; color:#878 !important; text-align:left;}
.w_info h2  {padding:0; margin:0; font:300 30px/30px 'Open Sans', arial, sans-serif; color:#878 !important; text-align:left;}
.w_date {padding:10px 0px;font:300 20px 'Open Sans', arial, sans-serif;line-height:25px;}

.w_flex_container {display:flex;display:-webkit-flex;flex-flow:row nowrap;justify-content:flex-start; width:200px;}
.w_flex_item {flex-grow: 4}
.w_flex_item .w_icon, .w_flex_item img.w_icon {max-width:72px !important;max-height:72px !important;}
.w_center_item {text-align:center;}
.w_tp_highlight {font-size:64px;margin-top:-3px}
.w_tp_super {font-size:16px;margin-top:6px} /* make it look like superscript relative to the target object */
.w_tp_super a {text-decoration:none;}
.w_tp_super a:hover {cursor:default;}
.w_tp_textbox {min-width:50%;margin-left:20px;line-height:22px;padding-top:2px}

@media only screen and (max-width: 320px) and (orientation: portrait) {
.w_flex_item .w_icon, .w_flex_item img.w_icon {max-width:72px !important;max-height:72px !important;}
}

