
.flex4-row-space-between {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row nowrap; 
   flex-direction: row nowrap;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   align-items: top
}

.w_icon img {max-width:72px !important;max-height:72px !important;}
.w_tp_highlight {font-size:64px;margin-top:-3px;}
.w_tp_details {text-align:left;margin-left:10px;width:185px}
.w_tp_super {font-size:16px;margin-top:6px} /* make it look like superscript relative to the target object */
.w_tp_item {height:72px;}
.w_tp_group {width:166px;}
.w_info {margin:0;margin-right:10px; width:361px;}
.w_info h1 {padding:0; margin:0; font:700 40px/40px 'Open Sans', arial, sans-serif!important; color:#878 !important; text-align:left;}
.w_info h2  {padding:0; margin:0; font:300 30px/30px 'Open Sans', arial, sans-serif!important; color:#878 !important; text-align:left;}
.w_info h3  {padding:0; margin:0; font:300 28px/28x 'Open Sans', arial, sans-serif!important; color:#878 !important; text-align:left;}
.w_date {padding:10px 0px;font:300 20px 'Open Sans', arial, sans-serif;line-height:25px;text-align:left;}



