.hide {visibility:hidden;}

.w450 {width:480px;border-bottom:#aaa 1px inset;margin:auto;font-size:14px;}
.w100 {width:100%;border:#aaa 1px solid}
.l_c_off  {color:#aaa}
.l_c_on   {color:#66ff66}
.l.r      {text-align:right}

.wakeupcall-time {
	width: 100px;
	height: 100px;
	font-size: 60px;
}

.wakeupcall-adjust-button {
	width: 100px;
	height: 60px;
	font-size: 40px;
}

.wakeupcall-semicolon {
	font-size: 72px;
}
