.inner {
	background-color: #453219;
}

body {
	background-color: #af9b82;
}

h1 {
	text-align: center;
	color: #453219;
}

h3 {
	color: #453219;
}

.input {
    margin: auto;
    width: 60%;;
    padding: 10px;
}

.buttonSection {
	display: none;
}

.printSection {
	display: none;
}
